
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
  




/* #box{
    background-color: white;
    width:300px;
    height:150px;
    margin:auto; /*This will center it horizontally but not vertically
    text-align: center;
    border: 3px solid black;
} */

button {
    background-color: aquamarine;
    padding: 15px 32px;

}


  
.col{

    padding-top: 50px;

}

.colnext{

    padding-top: 100px;

}